packaging/server/libraries/org/scala-lang/scala-compiler/2.11.1/scala-compiler-2.11.1.jar filter=lfs diff=lfs merge=lfs -text
GTNH[[:space:]]Daily-server.zip filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/OpenComputers-1.12.38-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/Botania-1.13.16-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/gtnhlib-0.9.60.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/Thaumcraft-1.7.10-4.2.3.5.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/GTNewHorizonsCoreMod-2.8.236.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/gregtech-5.09.52.494.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/HardcoreEnderExpansion-1.12.21-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/Galacticraft-3.4.27-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/config/txloader/load/galacticraftcore/sounds/music/absolutezero.ogg filter=lfs diff=lfs merge=lfs -text
.minecraft/config/txloader/load/galacticraftcore/sounds/music/nebulalullaby.ogg filter=lfs diff=lfs merge=lfs -text
.minecraft/resourcepacks/Realistic[[:space:]]Sky[[:space:]]GT[[:space:]]New[[:space:]]Horizons.zip filter=lfs diff=lfs merge=lfs -text
