.minecraft/mods/GTNewHorizonsCoreMod-2.8.226.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/OpenComputers-1.12.38-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/Botania-1.13.16-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/Galacticraft-3.4.26-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/Thaumcraft-1.7.10-4.2.3.5.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/HardcoreEnderExpansion-1.12.21-GTNH.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/gregtech-5.09.52.468.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/mods/gtnhlib-0.9.54.jar filter=lfs diff=lfs merge=lfs -text
.minecraft/config/txloader/load/galacticraftcore/sounds/music/absolutezero.ogg filter=lfs diff=lfs merge=lfs -text
.minecraft/config/txloader/load/galacticraftcore/sounds/music/nebulalullaby.ogg filter=lfs diff=lfs merge=lfs -text
.minecraft/resourcepacks/Realistic[[:space:]]Sky[[:space:]]GT[[:space:]]New[[:space:]]Horizons.zip filter=lfs diff=lfs merge=lfs -text
